
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @if (Context.Session.GetInt32("Role") != 3)
                {
                    @if (Context.Session.GetInt32("Role") == 1)
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Videos" asp-action="Index">Videos</a>
                    }
                    <a class="nav-link text-dark" asp-area="" asp-controller="Artists" asp-action="Index">Artists</a>                
                    <a class="nav-link text-dark" asp-area="" asp-controller="Songs" asp-action="Index">Songs</a>
                } else{
                    <div class="alert alert-warning" role="alert">
                            Sorry! Your registration is still pending approvement.
                </div> }
            </div>
        </div>
    </nav>
</div>

