@model MusicLib.BLL.DTO.UserDTO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Password" />
            <input type="hidden" asp-for="Salt" />
            <div class="form-group">
                @Html.Label("E-mail:")
                <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.Label("Role:")
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.ListRoles as SelectList"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

