@model MusicLib.BLL.DTO.ArtistDTO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Do you really wanto to delete Artist?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label("Name:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Birthdate:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delte" class="btn btn-danger" /> |
        <a asp-action="Index">Back</a>
    </form>
</div>
