@model MusicLib.BLL.DTO.ArtistDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label("Name:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Birthdate:")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
    </dl>
</div>
<div>
    @if (Context.Session.GetInt32("Role") == 1)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a>|</a>
    }
    <a asp-action="Index">Back</a>
</div>

