@model MusicLib.BLL.DTO.VideoDTO
@{
    ViewBag.Title = "Create";
}
@if (TempData["Message"] != null)
{
    <div class="warning alert-success">
        @TempData["Message"]
    </div>
}

<h3>Add new Video</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Videos" method="post" enctype="multipart/form-data">            
            
            <div class="form-group">
                <input type="file" name="uploadedFile" /><br>
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@*Благодаря установке атрибута формы enctype="multipart/form-data" 
браузер будет знать, что вместе с формой надо передать файл.*@


